*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(224, 224, 224, 0.521);
}
a{
    text-decoration: none;
}
.SignIn{
    height: 100vh;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.SignIn .left-p{
    margin: 10px 0;
    color: grey;
}
.Left img{
    margin-left: -6px;
    margin-bottom: -15px;
}
.SignIn .account{
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-top: 15px;
    border-radius: 14px;
    border: 1px solid gray;
    background-color: rgb(224, 224, 224);
}
.SignIn .account p{
    position: absolute;
    bottom: -10px;
    margin: 5px auto;
    width: 100%;
    background-color:white;
    padding: 14px 0;
    color: grey;
}
.SignIn .account .add_account{
    background-color: rgb(12, 83, 236);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 45%;
    left: 50%;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding-top: 3px;
}
.SignIn .Right{
    background-color: white;
    margin-top: 60px;
    width: 35%;
    height: 300px;
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 4px 10px rgba(128, 128, 128, 0.603);
}
.SignIn .Right input{
    width: 90%;
    height: 40px;
    margin: 7px 0px;
    padding: 0 10px;
    outline: none;
    border: 1px solid rgb(184, 174, 174);
    border-radius: 10px;
}
.login_btn{
    width: 90%;
    height: 40px;
    border-radius: 6px;
    margin: 9px 0;
    outline: none;
    border: none;
    background-color: rgb(12, 83, 236);
    transition: .4s;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.login_btn:hover{
background-color: rgba(12, 83, 236, 0.733);
}
.forget-pass{
    margin-bottom: 7px;
    color: gray;
    cursor: pointer;
}
.new-account{
    background-color: rgb(6, 175, 6);
    margin-top: 20px;
}
.new-account:hover{
    background-color: green;
}
/* ----------------------sginUp model here-------------------------- */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    box-shadow: 3px 4px 6px rgba(128, 128, 128, 0.651);
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 35px;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(255, 255, 255, 0.651);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  /* ------------------sign up form style------- */
  .signUpForm input[type=email], input[type=password]{
    width: 100%;
  }
  .signUpForm input[type=text]{
    width: 49.5%;
  }
  .signUpForm input,select,.signUp_gender{
    border: 1px solid rgb(175, 175, 175);
    height: 39px;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .signUpForm i{
    color: gray;
    margin-left: 5px;
  }
  .select_date{
    margin: 10px 0;
    color: gray;
  }
  .signUpForm select{
    width: 32.7%;
  }
  .signUp_btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(6, 175, 6);
  }
  .signUp_gender{
    position: relative;
    display: inline-block;
    width: 32.7%;
  }
  .signUp_gender input{
    position: absolute;
    top: -3px;
    margin-left: 70px;
  }
  .signUp_gender label{
    position: absolute;
    top: 7px;
  }
  /* -------------------facebook style -------------------------------- */
  nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height:56px;
    width:100%;
    box-shadow: 0px 1px 3px #ccc;
    padding: 8px 13px 0px 13px;
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav-left {
    display: flex;
}

.nav-left .fa-facebook{
    color: #1877f2;
    font-size: 40px;
}

.search{
    position: relative;
}

.search .fa-search{
    color: #606770;
    position: absolute;
    font-size: 15px;
    left: 15px;
    top: 12px;
}

.search input  {
    border: none;
    margin-left: 5px;
    background-color: #f5f0f0;
    border-radius: 50px;
    padding:7px 16px 9px 36px;
    color: #606770;
    font-size: 15px;
    height: 40px;
}

.nav-left input:focus {
    outline: none;
}

/* nav middle */

.nav-middle{
    display: flex;
    align-items: flex-end;
}

.nav-middle a {
    text-decoration: none;
    color: #65676b;
    font-size: 25px;
    padding:10px 20px;
    margin:0px 10px;
    border-radius: 8px;
}

.nav-middle a:hover {
    background-color: rgba(0, 0, 0,0.05);

}

.nav-middle .active{
    color: #1877f2;
    border-radius: 0px;
    border-bottom: 2px solid #1877f2;
}
.nav-middle .active:hover {
    background-color: white;

}

.nav-right{
    display: flex;
    align-items: center;
    padding-bottom: 8px;

}

.nav-right .profile{
    display: flex;
    align-items: center;
    margin-right: 5px;
    padding: 2px 10px 2px 2px;
    border-radius: 8px;
}


.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.nav-right .profile p{
    color:#050505 ; 
    font-size: 15px;
    font-weight: bold;
    margin-left: 3px;
}


.nav-right  a {
    text-decoration: none;
    color: #050505;
    background-color: #e4e6eb;
    border-radius: 50%;
    font-size:18px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
 /* --------------- end nav here----------------------- */
.sec_All {
  display: flex;
  justify-content: space-between;
  background-color: #f0f2f5;

}

.left_side {
  background-color: #f0f2f5;
  height: 100vh;
  overflow: hidden;
  position: sticky;
  left: 0;
  top: 56px;
  width: 350px;
}


.left_side:hover {
  overflow: scroll;

}

.left_side li {
  display: flex;
  align-items: center;
  padding:10px 10px 10px;
  border-radius: 8px;
}
.left_side li:hover{
  background-color: #60677021;
  cursor: pointer;
}
.left_side img{
  width:25px;
  height: 35px;
  margin-right: 5px;
}

.left_side p{
  color:#050505; 
  font-size: 15px;
  font-weight: bold;
  margin-left: 3px;
}

.userImg{
  border-radius: 50%;
  
}
/* --------------middle------------------- */
.middle {
  padding: 0 70px;
}


.container
{
  display: flex;
  /* justify-content: space-between; */
  margin-top: 20px;
}

.firstleft
{
  width: 100%;
  height: 200px;
  background-color: white;
  overflow:hidden;
  margin-left: 7px;
  /* width:90%; */
  /* height:250px; */
  border-radius: 10px;
  box-shadow: 0 0 5px 5px #ddd;
  position:relative;

}

.firstleft .icons
{
  font-size: 20px;
  color:white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1877F2;
  padding:8px;
  border-radius: 50%;
  object-fit: cover;
  border:solid 4px  white;
}
.firstleft p
{
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color:black;
}
.firstleft .firstimg
{
  width:100%;
  height:140px;
  border-radius: 10px;
  position: relative;
  /* transition:all ease-in-out 1s; */

}



.second2 
{
  position:relative;
}
.second2 .small
{
  position:absolute;
  top: 11px;
  left: 16px;
  width:40px;
  height:40px;
  border-radius: 50%;
  z-index: 2;
  border: solid 4px #1877F2;
}
.second2 .second
{
  height: 100%;
}
.second2 p
{
  color:white;
  position: absolute;
  bottom:10px;
  left:8px;
} 
.mind
{
    background:white;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #ddd;
    margin: 20px 0px;
    padding-top: 5px;
}

.mind2 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.mind .inmind
{
    border-radius: 50%;
    width:35px;
    height:35px;
    margin-right: 10px;
}

.mind hr
{
    margin-top: 15px;
    margin-left: 28px;
    width:93%;
    background-color:rgb(190, 189, 189);
}

.mind input {
    outline: none;
    width: 88%;
    border: none;
    border-radius: 50px;
    background:#f0f2f5;
    padding:10px;

}
.mind input:hover
{
    background-color: rgba(0, 0, 0,0.1);
}

.under {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}


.fa-video{
    color: #f3425f;
}
.fa-images{
    color: #45bd62;
}
.fa-laugh{
    color: #f7b928;
}
.under i
{
    font-size:25px;
}

.under .firstu
{
    display:flex;
    padding: 5px;
}

.under .firstu:hover
{
    background-color: rgba(0, 0, 0,0.05);
    border-radius: 10px;
}

.under .firstu .caption
{
    margin:5px 0 0 10px;
    color:rgb(94 94 94);
    text-decoration: none;
}



.Fpost{
    background-color: white;
    padding:20px 20px 5px 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #ddd;
    margin-top: 20px;
}

.postDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postDetail img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.postDetail  p{
    color: #898e94;
    font-size: 12px;
    margin-top: 5px;
}
.thepost p{
    margin: 20px 0px;
}

.thepost img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.reacts{
    padding: 20px 50px 0;
    border-top: 1px solid #898e94;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #898e94;
    
}

.reacts i{
    color: #898e94;
    margin-right: 5px;
}

.reacts div{
    display: flex;
    align-items: center;
}

@media  only screen and (max-width:1080px){

  .middle{
      padding: 0px 50px;
  }
  .left_side{
      display: none;
  }
  .search input{
      width: 50px;
  }
  
}


@media  only screen and (max-width:882px){

  .middle{
      padding: 0px 3px;
  }
  .right_side{
      display: none;
  }
  .nav-middle{
      display: none;
  }
}
/* -----right side------- */
.right_side{
  background-color:#f0f2f5;
  height: 100vh;
  overflow-y: hidden;
  position: sticky;
  right: 0;
  top: 56px;
  padding:20px;
  width: 300px;
}
.right_side:hover {
  overflow-y: scroll;

}

.sponsored p{
  color: #65676b;
  font-size: 20px;
  margin-top: 10px;

}

.sponsored div {
  display: flex;
  align-items: center;
  margin-top: 20px;
  color: #050505;
  border-radius: 8px;
  padding: 5px 50px 5px 5px;
}

.sponsored img{
  border-radius: 8px;
  width: 120px;
  height: 70px;
}
.sponsored h3{
  margin-left: 10px;
  font-size: 15px;
}


.contact_icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.contacts p{
  color: #65676b;
  font-size: 16px;
  margin-top: 8px;
}

.contact_icons i{
  color: #65676b;
  margin: 0px 5px;
}


.contacts li{
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}


.contacts img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.contacts li p{
  margin-left: 7px;
}

.contacts li:hover{
  background-color: rgba(0, 0, 0,0.05);
}